<html>
    <head>
        <title>Create your appartement</title>
        <!-- <link rel="stylesheet" href="sheet.css"> -->
    </head>
    
    <body>
        <h1>Encode a new room</h1>
        <div>
            <form action="/add_room">
                <br><label for="name">Name : </label>
                <input type="text" id="name" size="14" name="name"></br>
                <br><label for="width">Width : </label>
                <input type="number" id="width" size="14" name="width"></br>
                <br><label for="length">Length : </label>
                <input type="number" id="length" size="14" name="length"></br>
                <br><input type="submit" value="add"></br>
            </form>
        </div>
    </body>
    
</html>